## Importer les librairies nécessaires

In [1]:
import random
import pandas as pd

## Références bibliographiques


* Hamon : Hamon Philippe, Hamon Agnès, et Jégou Nicolas, _Statistique descriptive. Cours et exercices corrigés_, Rennes, PUR, 2008.
* Saly : Saly Pierre, _Méthodes statistiques descriptives pour les historiens_, Paris, A. Colin, 1991.

## Produire les observations

Cf. Hamon, p.4, tableau 1.1

Afin de reproduire ce tableau, on utilise des fonctions produisant des valeur aléatoires.

* On produit d'abord les valeurs aléatoires (remplaçant les observations) pour chaque variable
* On les regroupe ensuite dans un dataframe Pandas

In [2]:
### Créer une liste d'identifiants
id_list = []
[id_list.append(x) for x in range(1,101)]

print(id_list[-5:])
len(id_list)

[96, 97, 98, 99, 100]

100

In [3]:
### Créer une liste d'âges
age_list = []
for x in range(1,101):
    age_list.append(random.randint(18,90))

print(age_list[:5])
len(age_list)

[44, 50, 54, 86, 77]

100

In [4]:
### Créer une liste de nombre de personne dans un foyer
nfoyer_list = []
for x in range(1,101):
    nfoyer_list.append(random.randint(1,7))

print(nfoyer_list[:5])
len(nfoyer_list)

[3, 4, 3, 6, 4]

100

In [5]:
### Créer une liste de fréquences de lecture des journaux
lecture_list = []
for x in range(1,101):
    lecture_list.append(random.choice(['tous les jours', 'de temps en temps', 'très rarement', 'deux-trois fois par semaine', 'le week-end']))

print(lecture_list[:5])
len(lecture_list)

['de temps en temps', 'tous les jours', 'de temps en temps', 'tous les jours', 'tous les jours']

100

In [6]:
### Créer une liste d'orientations politiques
politique_list = []
for x in range(1,101):
    politique_list.append(random.choice(['gauche', 'écologiste', 'droite', 'centre', 'populiste']))

print(politique_list[:5])
len(politique_list)

['droite', 'droite', 'droite', 'écologiste', 'gauche']

100

### Création du dataframe

In [7]:
#  https://www.statology.org/add-column-pandas-dataframe/

observations = pd.DataFrame({'id' : id_list, 'age' : age_list, 'n_foyer' : nfoyer_list, 
                             'lecture_journal' : lecture_list, 'parti' : politique_list})

In [8]:
print(len(observations))
observations.head()

100

   id  age  n_foyer    lecture_journal       parti
0   1   44        3  de temps en temps      droite
1   2   50        4     tous les jours      droite
2   3   54        3  de temps en temps      droite
3   4   86        6     tous les jours  écologiste
4   5   77        4     tous les jours      gauche

In [9]:
### Ecrire le fichier sur le disque afin de le corriger manuellement

path = 'data/observations.csv'
observations.to_csv(path)

In [11]:
observations['age'].describe()

count    100.000000
mean      54.550000
std       22.164388
min       18.000000
25%       36.000000
50%       55.000000
75%       74.000000
max       90.000000
Name: age, dtype: float64